<link rel="import" href="../paper-input/paper-input.html"/>
<link rel="import" href="../iron-icons/iron-icons.html"/>
<link rel="import" href="../paper-icon-button/paper-icon-button.html"/>
<link rel="import" href="../iron-a11y-keys/iron-a11y-keys.html"/>
<link rel="import" href="simple-search-styles.html"/>

<!--

    ### General Info `<simple-search></simple-search>` bla bla bla bla

    `<simple-search>` shows a search input area on the page

    Usage: insert `<simple-search>` in the body

    Example:
    <body>
        <simple-search></simple-search>

    To show the static input field:
    <body>
        <simple-search static-open></simple-search>

-->

<dom-module id="simple-search">
    <template>
        <style include="simple-search-styles"></style>

        <iron-a11y-keys target="{{searchInput}}" keys="enter" on-keys-pressed="searchAction"></iron-a11y-keys>

        <div class$="{{toggleClass}}">
            <div class="flex-horizontal">
                <div class="input-area flexchild">
                    <paper-input id="searchInput" no-label-float placeholder="Search"></paper-input>
                </div>

                <div>
                    <template is="dom-if" if="{{!staticOpen}}">
                        <div class="trigger-open">
                            <paper-icon-button on-tap="toggle" icon="icons:search"></paper-icon-button>
                        </div>
                        <div class="trigger-close">
                            <paper-icon-button on-tap="toggle" icon="close"></paper-icon-button>
                        </div>
                    </template>
                </div>
                <div class="trigger-search" on-tap="searchAction">
                    <paper-icon-button icon="icons:search"></paper-icon-button>
                </div>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: "simple-search",
        properties: {
            /** If the search is visible or not. */
            isOpen: {
                type: Boolean,
                value: false,
                observer: "_isOpenChanged"
            },
            /** If this is true, the search are will always show. Can be set with the static-open attribute */
            staticOpen: {
                type: Boolean,
                value: false
            },
            /** The class once the state isOpen is set to true */
            toggleClass: {
                type: String,
                value: ""
            }
        },
        /**
         * Toggles the search area
         *
         * @return {void} No return parameter
         */
        toggle: function () {
            this.set("isOpen", !this.isOpen);
            if (this.isOpen) {
                this.$$("#searchInput").value = "";
                this.$$("#searchInput").focus();
            }
        },
        _isOpenChanged: function () {
            this.toggleClass = "";
            if (this.isOpen) {
                this.toggleClass = "opened";
            }
        },
        /**
         * Fires the search event
         *
         * @return {void} No return parameter
         */
        searchAction: function () {
            this.fire("search", this.$$("#searchInput").value);
        },
        ready: function () {
            this.isOpen = this.staticOpen;
        }
    })
</script>